<div class="container">
  <div class="row">
    <div class="col-sm-10 col-md-8 col-lg-6 mx-auto">
      <h2>登録情報編集</h2>
      
      <%= form_with model: @user, local:true do |f| %>
      
        <%= render "shared/error_messages" %>
        
        <div class="form-group my-4 text-center">
          <%= attachment_image_tag @user, :profile_image, fallback: "icon.png", id: "preview", style: "width:200px;height:200px;border-radius:50%;margin-bottom:30px;" %>
          <%= f.attachment_field :profile_image %>
        </div>
        
        <div class="form-group">
          <%= f.label :name, "ユーザ名" %>
          <%= f.text_field :name, class: "form-control" %>
        </div>
        
        <div class="form-group">
          <%= f.label :email, "メールアドレス" %>
          <%= f.text_field :email, class: "form-control" %>
        </div>
        
        <div class="form-group my-4">
          <%= f.password_field :password, placeholder: "パスワード（6文字以上）", class: "form-control" %>
        </div>

        <div class="form-group my-4">
          <%= f.password_field :password_confirmation, placeholder: "パスワード（確認用）", class: "form-control" %>
        </div>

        <div class="form-group text-center mt-5">
          <%= f.submit "更新", class: "btn btn-primary" %>
        </div>
        
      <% end %>
    </div>
  </div>
</div>

<script>
  $('#user_profile_image').on('change', function (e) {
    var reader = new FileReader();
    reader.onload = function (e) {
        $("#preview").attr('src', e.target.result);
    }
    reader.readAsDataURL(e.target.files[0]);
});
</script>