<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-11 col-lg-10 mx-auto">
      <div class="mt-5 text-center">
        <h3>ランダムチャットを始めよう！</h3>
        <p class="mt-4">
          ユーザーとトピックがランダムで選ばれます。<br>
          トピックについて自由に話してみましょう！
        </p>
        <%= link_to "chatを始める", chat_path(@user.id), class: "btn btn-info btn-lg mt-5 text-center" %>
      </div>
      <div>
        <table class="table mt-5">
        <% @anotherEntries.each do |e| %>
          <tr>
            <td>
              <%= attachment_image_tag(e.user, :profile_image, size: "60x60", fallback: "icon.png", style: "border-radius: 50%;") %>
            </td>
            <td>
              <%= link_to chat_path(e.user) do %>
                <%= e.user.name %>
              <% end %>
            </td>
            <td>
              <%= e.room.chats.take.try(:message) %>
            </td>
            <td>
              <%= e.room.chats.take.try(:created_at) %>
            </td>
          </tr>
        <% end %>
        </table>
      </div>
    </div>
  </div>
</div>