<div class="container">
  <div class="row">
    <div class="col-sm-10 col-md-8 col-lg-6 mx-auto">
      <h3 class="text-center mt-5">
        <i class="far fa-comment-dots"></i>
        Let's Talk About <u class="topic"><%= Faker::Music.band %></u><br>
        with <strong class="user-name"><%= @user.name %></strong>
      </h3>
      <div class="message w-100 mt-4" style="height:60vh;overflow:auto;" id="auto_scroll">
        <% @chats.each do |chat| %>
          <% if chat.user_id == current_user.id %>
            <%= render "message", chat: chat %>
          <% else %>
            <div class="d-flex justify-content-start align-items-center my-3">
              <%= attachment_image_tag chat.user, :profile_image, fallback: "icon.png", size: "50x50", style: "border-radius: 50%" %>
              <span class="says"><%= safe_join(chat.message.split("\n"),tag(:br)) %></span>
              <span class="small ml-1"><%= l chat.created_at, format: :short %></span>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="mt-3">
        <%= form_with model: @chat, remote: true, class: "d-flex" do |f| %>
          <%= f.text_area :message, placeholder: "メッセージを入力してください", class: "form-control" %>
          <%= f.hidden_field :room_id %>
          <%= f.submit "送信", class: "btn btn-success" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag "scroll.js" %>